body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    background-color: #ffffff;
    color: #000000; /* White text */
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #4632ff;
    background-color: rgba(20, 36, 183, 0.16);
    display: inline-block;
    padding: 10px 10px;
    border-radius: 5px;
    z-index: 1000;
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}
.logo:hover {
    font-weight: bolder;
}

.container {
    max-width: 1000px;
    margin: 100px auto 40px;
    padding: 0 20px;
    text-align: center;
}
.title {
    font-size: 4em;
    margin: 0;
    background-clip: text;
    background-image: linear-gradient(135deg, #009cea, #4632ff);
    color: transparent;
}
.title:hover {
    font-family: "Mansalva", sans-serif;
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
}

section {
    padding: 60px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

ul li {
    margin: 10px 0;
}

#social-bar {
    position: absolute;
    bottom: 60px; /* Adjust the bottom position as needed */
    right: 0; /* Positions the bar at the right edge of the window */
    width: 50px; /* Adjust the width of the bar */
    height: auto; /* Removes fixed height, allowing icons to stack vertically */
    background-color: #1424b7; /* Set your desired background color */
    color: #ffffff; /* Set the text color for icons */
    display: flex; /* Arranges icons horizontally */
    flex-direction: column; /* Stacks icons vertically */
    justify-content: center; /* Centers icons vertically within the bar */
    align-items: center; /* Aligns icons horizontally in the center */
    border-radius: 5px 0 0 5px; /* Creates rounded corners except top right */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.779); /* Adds a subtle shadow */
    transition: transform 0.3s; /* Smooth transition for hover effects (optional) */
    padding-top: 10px;
}

#social-bar a {
    color: inherit; /* Inherits the text color from #social-bar */
    font-size: 20px; /* Adjust the icon size */
    margin-bottom: 10px; /* Adds spacing between icons */
    transition: transform 0.3s; /* Smooth transition for hover effects (optional) */
}

#social-bar a:hover {
    transform: scale(1.1); /* Scales the icon slightly on hover (optional) */
}
