body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    background-color: #090c10;
    color: #000000;
    cursor: default;
    user-select: none;

}
.dev {
    font-weight: 200;
    cursor: default;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    max-width: 1000px;
    margin: 50px auto 40px;
    padding: 0 20px;
    text-align: center;
}
.container img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
    cursor: auto;
    border: #232930 solid 2px;
}

.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.title {
    font-size: 5em;
    margin: 0;
    background-clip: text;
    background-image: linear-gradient(135deg, #009cea, #4632ff);
    color: transparent;
}

.subtitle {
    font-size: 1.5em;
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

section {
    padding: 60px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

ul li {
    margin: 10px 0;
}

.job,
.container2 {
    margin: 0px auto 0px;
    padding: 20px 20px;
    text-align: center;
    background-color: #dcdcfc;
    border-top-color: #000091;
    border-top-style: solid;
}

.mail {
    text-decoration: none;
    color: #000000;
    font-family: "Mansalva", sans-serif;

    font-style: normal;
}

.contact {
    background-color: black;
    margin: auto;
    padding: 5px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 240px;
    color: #ffffff;
    font-family: "Mansalva", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    cursor: help;
}
.con {
    font-family: "Mansalva", sans-serif;

    font-style: normal;
}
.tls {
    color: white;
    font-family: "Mansalva", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    cursor: help;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.tls::after {
    content: "Toulouse, FR";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.tls:hover::after {
    opacity: 1;
}

.tls:hover {
    color: transparent;
}
.location-container .material-symbols-outlined:hover {
    font-variation-settings: "FILL" 30, "wght" 400, "GRAD" 40, "opsz" 200;
    cursor: pointer;
    color: #ffffff;
}
#social-bar {
    position: fixed;
    bottom: 60px; /* Adjust the bottom position as needed */
    right: 0; /* Positions the bar at the right edge of the window */
    width: 50px; /* Adjust the width of the bar */
    height: auto; /* Removes fixed height, allowing icons to stack vertically */
    background-color: rgba(0, 0, 145, 0.45); /* Set your desired background color */
    color: #ffffff; /* Set the text color for icons */
    display: flex; /* Arranges icons horizontally */
    flex-direction: column; /* Stacks icons vertically */
    justify-content: center; /* Centers icons vertically within the bar */
    align-items: center; /* Aligns icons horizontally in the center */
    border-radius: 5px 0 0 5px; /* Creates rounded corners except top right */
    transition: transform 0.3s; /* Smooth transition for hover effects (optional) */
    padding-top: 10px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #232930;
}

#social-bar a {
    color: inherit; /* Inherits the text color from #social-bar */
    font-size: 20px; /* Adjust the icon size */
    margin-bottom: 10px; /* Adds spacing between icons */
    transition: transform 0.3s; /* Smooth transition for hover effects (optional) */
}

#social-bar a:hover {
    transform: scale(1.1); /* Scales the icon slightly on hover (optional) */
}

.location-container .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 50;
    color: #ffffff;
}


a {
    text-decoration: none;
}
.container p {
    align-self: center;
}

.container3 {
    margin: auto;
    text-align: center;
    width: max-content;
    justify-content: center;
}

.download-btn {
    background-color: #121418;
    color: white;
    margin: auto;
    width: max-content;
    padding: 5px 20px;
    border-radius: 50px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #232930;
    transition: all 0.3s;
}
.download-btn:hover {
    background-color: #0a0c0e;

}

.container3 a {
    text-decoration: none;
}
.container3 t {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.container3 .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 50;
    margin-bottom: 12px;
    display: inline-block;
    line-height: 1;
}

.center-container {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(8 0 23);
    width: max-content;
    border-radius: 5px 5px 0 0;
    text-align: center;
    margin-left: 15%;
    padding: 10px;
    border:solid rgb(78 68 98);
    border-width: 1.5px 1.5px 0 1.5px;


}
.center-container2 {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(8 0 23);
    width: max-content;
    border-radius: 5px 5px 0 0;
    text-align: center;
    margin-left: 30%;
    padding: 10px;
    border:solid rgb(78 68 98);
    border-width: 1.5px 1.5px 0 1.5px;
    margin-top: 10%;


}



.logo2 {
    font-size: 1em;
    display: inline-block;
    z-index: 1000;
    font-family: "Mansalva", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: #5a3ee0;
    margin: 0;
}
.competences-container {
    margin: 0 10%;


}
.competence-group {
    background-color: rgb(8 0 23);
    border-color: rgb(78 68 98);
    padding: 10px 10px ;
    margin: 0px 10px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
}
.competence-title {
    color: chartreuse;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.skills-list{
    color : #ffffff;
    font-family: "Pixelify Sans", "Sakkal Majalla", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
.dollar-prompt{
    font-weight: lighter;
    font-size: medium;
    color: chartreuse;
}
.prompt {
    font-weight: lighter;
    font-size: small;
    color: chartreuse;
}
.cmd-head{
    color: #939393;
    font-family: "Pixelify Sans", "Sakkal Majalla", cursive;
    font-optical-sizing: auto;
    font-style: normal;


}
.container-skill1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto;
    gap: 20px;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

.language-skill {
    background-color: #121418;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.1s;

}



.language-skill t {
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    margin-right: 10px;
}

.language-skill i {
    font-size: 1.5em;
}
.resume-section {
    display: flex;
    justify-content: center;
    background-color: rgb(8 0 23);
    border-color: rgb(78 68 98);
    border-radius: 10px;
    border-style: solid;
    border-width: 1.5px;
    padding: 20px;

}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 10px 40px;
    vertical-align: top;
}
.position {
    font-size: 30px;
    font-weight: bold;
}
.company {
    font-size: 18px;
    color: #ffffff;
    text-align: right;
}
.date {
    font-size: 14px;
    color: #ffffff;
    text-align: right;
}
.crossed-out .position {
    text-decoration: line-through;
    color: #ffffff;
}
.education-section {
    display: flex;
    justify-content: center;
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    margin-right: 10px;
    padding: 0;

}
.position-now {
    font-weight: bolder;
    color: chartreuse;
}
.date-now {
    color: chartreuse;
}